body {
  background-image: url("https://i.pinimg.com/564x/5a/ba/d0/5abad00d32979a205fc52b6019bed7d6.jpg");
  background-size: contain;
  font-family: "D2Coding";

}

#logo{
    width: 20%;
    height: 20%;
    margin-left: 35%;
    animation-duration: 3s;
    animation-name: logomoving;
    animation-iteration-count: infinite;
}

.pagetop p {
    font-size: xx-large;
    margin-left: 30%;
    color: rgb(0, 147, 86);
    font-family: fantasy;
}

.article button, input, textarea {
  border: 2px inset rgb(35, 196, 137);
  border-radius: 5px;
  font-family: "D2Coding";
}

.article textarea{
  display: block;
}


#mountain {
  background-color: rgb(35, 196, 137);
  border: outset rgb(35, 196, 137);
  color: white;
  font-size: 100%;
  margin-left: 10%;
  margin-top: 10px;
  width: 100px;
  height: 35px;
}

.mountainbtn {
  position: relative;
  display: inline;
  width: 100%;
}

.mountain-list {
    display: none;
    width:70%;
    position: absolute;
    margin-left: 30%;
    margin-top: 3px;
    z-index:1;
    border: 2px solid rgb(35, 196, 137);
    border-radius: 15px;
}

.mountain-list a{
  display: block;
  color: rgb(1, 129, 82);
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;

}
#mountain:hover {
    transform: scale(1.2);
}

.mountain-list a:hover{
  background-color:  rgba(124, 202, 144, 0.5);
  color: rgb(11, 116, 72);
  border-radius: 10px;
  transform: scale(1.2);
  font-size: x-large;
}

.mountainbtn:hover .mountain-list {
    display: block;
    background-color: white;
    position: absolute;
}
#contents::selection {
  color: white;
  background-color: rgba(76, 121, 65, 0.534);
  text-decoration: double;
}


.contentbox #title {
  width: 47%;
  height: 30px;
  font-size: larger;
  position: relative;
}

.contentbox textarea {
  width: 70%;
  height: 500px;
  margin-left: 10%;
  margin-top: 10px;
  position: relative;
}

.articlebtn {
  margin-left:60%;
  margin-top: 10px;
  display: block;
}

.articlebtn #register {
  background-color: rgb(35, 196, 137);
  color: aliceblue;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 3px outset rgb(35, 196, 137);
  font-size: medium;
}

.articlebtn #cancle {
  background-color: rgb(158, 158, 158);
  color: aliceblue;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 3px outset rgb(158, 158, 158);
  font-size: medium;
}

.articlebtn #register:hover {
  transform: scale(1.2);
}

.articlebtn #cancle:hover {
  transform: scale(1.2);
}

.icon.heart img {
  width: calc(100vw * (24 / 1920));
  height: calc(100vw * (24 / 1920));
}

/* .icon.heart.fas {
  color: rgb(255, 73, 136);
}
.heart {
  transform-origin: center;
}
.heart.active img {
  animation: animateHeart 0.3s linear forwards;
} */

@keyframes logomoving {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}
